<div class="container">

<h1>About</h1>
  
    <div class="row">
      <div class="col-md-3 text-center">
        <%= image_tag 'randomfemaleuser.jpg', class: "img-rounded" %>
      </div>
      
      <div class="col-md-6">
        <p>Cupcake ipsum dolor. Sit amet gummies fruitcake jujubes. Jujubes donut wafer gummies sweet roll lollipop. Candy canes biscuit tiramisu. Powder apple pie lemon drops candy canes biscuit lollipop jujubes biscuit muffin. Chocolate brownie ice cream. Chupa chups jujubes brownie bear claw brownie liquorice cake. Brownie oat cake jelly beans sugar plum ice cream topping.</p>
        <p>Gummi bears danish pudding icing sesame snaps tiramisu jelly-o dessert. Cotton candy cake carrot cake chocolate bar macaroon jelly muffin. Brownie croissant sweet. Candy biscuit muffin caramels candy jujubes. Dragée chocolate cake tart bear claw chupa chups. Chocolate cake apple pie cookie caramels cotton candy sweet caramels. Cake lemon drops jelly-o.</p>
        <p>Dessert danish cupcake lollipop bonbon. Toffee sweet jelly chocolate chocolate cake croissant fruitcake. Pudding bonbon dessert carrot cake soufflé cake. Pudding gummies liquorice cake ice cream ice cream candy canes. Chocolate cake apple pie croissant cake toffee chocolate cake tootsie roll apple pie. Wafer cake marshmallow. Sesame snaps cake donut muffin caramels muffin. Carrot cake cupcake biscuit pudding pie chocolate cake croissant muffin soufflé. Cotton candy lollipop carrot cake bonbon.</p>
      </div>
    </div>
   </div> 
<%= link_to "Home", root_path %>