<div class="jumbotron center bg-img">

<div class="col-md-6 col-md-offset-3"> 
<div class="well action-box">
  <h1 >Alpha Blog</h1>

  <!--<div class="container text-center">-->
  <!--  <%#= image_tag 'blog-header.jpg', :class "img-responsive img-rounded" %>-->
  <!--</div>-->
 
  <%= link_to "Sign up now", "#", class: "btn btn-success btn-lg btn-block" %>
  
  </div>
</div>

</div> 