<h1 class="text-center">Welcome to this Sweet Alpha Blog App!</h1>

  <!--<div class="container text-center">-->
  <!--  <%#= image_tag 'blog-header.jpg', :class "img-responsive img-rounded" %>-->
  <!--</div>-->
  
  <p>Brownie soufflé oat cake sugar plum candy. Ice cream fruitcake candy canes cake gummi bears tiramisu cheesecake croissant gummies. Jelly beans wafer brownie cake muffin marzipan wafer ice cream jujubes. Sweet roll donut jelly gummi bears macaroon pie marshmallow. Candy wafer macaroon croissant donut gingerbread fruitcake. Halvah gummies brownie tiramisu donut sweet roll sugar plum dessert. Tart tiramisu chupa chups cheesecake cake wafer. Apple pie sweet biscuit tiramisu bonbon. Macaroon cookie marzipan halvah chocolate marshmallow. Lollipop gingerbread cookie powder croissant candy canes oat cake jujubes chocolate cake. Jelly-o candy liquorice gummies jelly oat cake icing tart. Cheesecake bear claw tiramisu pastry macaroon tootsie roll jujubes sesame snaps cheesecake. Bear claw carrot cake candy cheesecake icing cheesecake sweet roll. Muffin toffee sweet roll gummies marzipan jelly-o jelly ice cream.</p>
  <p>Chupa chups bear claw powder candy canes cake candy jelly beans chocolate bar danish. Caramels candy canes croissant icing gummi bears tiramisu. Topping cookie lollipop sweet roll danish. Tart tootsie roll carrot cake donut brownie. Cookie croissant toffee cupcake pie. Powder sesame snaps toffee. Powder pudding jelly beans tart sweet halvah tootsie roll toffee. Jelly tootsie roll tootsie roll gingerbread. Muffin dessert lollipop jujubes chocolate. Donut wafer dessert pie muffin wafer brownie topping cookie. Chupa chups jelly beans gummies sweet roll gummies bear claw gummi bears candy canes. Danish bonbon dessert lemon drops sweet roll.</p>

  <%= link_to "About Us", about_path %>