<div class="col-md-12 welcome-msg"> 
  <h1 align="center" class="welcome-heading">Welcome to <span>Alpha Blog</span></h1>
    <h3 class="welcome-msg">Join <span>Alpha Blog</span> today. Share your story. Read inspiring stories from others around the world.</h3>
    
    <div align="center" class="join-btn">
      <%= link_to "Sign up now", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>
