@import "bootstrap-sprockets";
  @import "bootstrap";
  
  body {
    background-color: #e6ffe6;
  }
  
  a {
    color: #008000;
  }
  
  .img-responsive {
    border: 2px solid;
    border-color: #008000;
  }

 
